@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fly {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px) translateY(-100px) scale(0);
    opacity: 0;
  }
}
